# IDE Configurations
.idea
.vscode

# Virtual Environment
.venv/
venv/

# macOS Desktop Service
**/.DS_Store

# Python Bytecode directories
**/__pycache__/

# Scratch Files
**/*_scratch.*
**/scratches/

# Data directory
/data/

# Model Checkpoints
/checkpoints/